<!DOCTYPE html>
    <head>
        <title>Architect - Golang app</title>
        <link rel="stylesheet" type="text/css" href="/static/styles.css">
    </head>
    <body>
        <div class="container">
            <!-- <h1>Uncomment me to see hot reloading in action!</h1> -->

            <div class="center">
                <a href="//architect.io" target="blank">
                    <img
                        src="https://cdn.architect.io/logo/horizontal.png"
                        width="320"
                        alt="Architect Logo"
                    />
                </a>
            </div>

            {{ block "content" .}}{{end}}

             <!--
                The blocks below enable a small application below the "Next Steps" card
                which allows you to add favorite movies with a rating - the data
                is sent to a database which was deployed along with the Go server.
            -->

            {{ block "rating_form" .}}{{end}}
            {{ block "rating_table" .}}{{end}}

        </div>
    </body>
</html>